p{
    color:peru
}
body{
    background-color:pink
}
.red{
    color:royalblue
}
#idselector{
    color:lawngreen
}
.font-style{
color: aquamarine;
font-size: 50px;
font-family: Arial,'Times New Roman', Times, serif;
}
.parent{
    height: 300px;
    background-color: darkorchid;
    width: 300px;
    font-size: 40px;
}
.em{
    font-size: 3rem;
    text-shadow: 4px 5px lawngreen;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 4px;
}

